<app-header
  (onComponentDataFetch)="DataFetchEv($event)"
  [isDashboard]="isDashboard"
  [isTitle]="isTitle"
>
</app-header>

<ion-content>
  <div class="custom-theme-page">
    <form [formGroup]="form_detail">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="8" size-xl="8">
          <div class="upload-content">
            <div class="uploaded-file">
              <p class="alignerdark">
                <ion-icon
                  class="close-icn remover"
                  (click)="onRemove_Image($event)"
                  name="close-circle-outline"
                ></ion-icon>
              </p>

              <div class="img-cl">
                <img src="http://localhost:8080/uploads/" class="up-img" />
              </div>
            </div>
            <div class="upload-btn-wrapper">
              <button class="brochure-btn">
                <img
                  class="file-icon"
                  src="../../../../assets/icon/file-outline.svg"
                  alt=""
                />Upload a File
              </button>
              <input
                class="file-upload-btn"
                name="files"
                type="file"
                ng2FileSelect
                multiple
              />
            </div>
          </div>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="4">
          <div class="select-device-content">
            <h2 class="choose-device">Choose Device</h2>
            <div class="form-group">
              <div class="inp-bx">
                <p class="lb-txt">Phone Name</p>
                <ng-select class="custom" formControlName="phone_name">
                  <ng-option *ngFor="let nx of propType" [value]="nx.name">
                    {{ nx.name }}</ng-option
                  >
                </ng-select>
              </div>
              <div class="inp-bx">
                <p class="lb-txt">Phone Model</p>
                <ng-select class="custom" formControlName="phone_model">
                  <ng-option *ngFor="let nx of propType" [value]="nx.name">
                    {{ nx.name }}</ng-option
                  >
                </ng-select>
              </div>
              <div class="price-box">
                <div class="price-amout mb-8">
                  <span class="item-txt">Item Price:</span>
                  <p class="custom-theme-price">499.00</p>
                </div>
                <div class="price-amout mb-8">
                  <span class="item-txt">Shipping Charges:</span>
                  <p class="custom-theme-price">50.00</p>
                </div>
                <div class="price-amout border mb-8">
                  <span class="item-txt">Total:</span>
                  <p class="custom-theme-price">549.00</p>
                </div>
              </div>
              <ion-button class="cart-btn">Add To Cart</ion-button>
              <ion-button class="cart-btn mt-10" (click)="buy('1')"
                >Buy Now</ion-button
              >
            </div>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
