<div class="details-page" *ngIf="data_">
  <div class="left-section">
    <img [src]="data_.img" class="product-img" />
  </div>
  <div class="right-section">
    <h1 class="product-title">{{ data_.theme_name }}</h1>
    <p class="product-desc">{{ data_.discount_cost }}</p>
    <p class="product-desc">{{ data_.cost }}</p>
    <p class="product-desc">{{ data_.label }}</p>
    <div class="btn-grp">
      <ion-button class="cart-btn">Add to Cart</ion-button>
    </div>
    <div class="btn-grp">
      <ion-button class="buy-btn" (click)="buy(data_, '1')">Buy Now</ion-button>
    </div>
    <div class="btn-grp-1">
      <ion-button class="wishlist-btn">Add to Wishlist</ion-button>
    </div>
  </div>
</div>
