<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <img
            class="circle"
            src="../../../../assets/menu-icon/menu-icon.svg"
            alt=""
          />
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <!-- <div class="back-container">
      <ion-icon
        *ngIf="isDashboard"
        (click)="back()"
        class="back-icon"
        name="arrow-back-outline"
      ></ion-icon>
    </div> -->
    <!-- <ion-title (click)="navigate('1')">Resume Builder </ion-title> -->
    <img (click)="navigate('1')" src="../../../../assets/img/logo.png" alt="" class="logo-img" />

    <div slot="end" class="slot-end">
      <!-- <div class="fixed slot-end">
        <img class="circle-1" src="../../../../assets/icon/search.svg" />
        <img
          class="circle-1"
          (click)="navigate('cart')"
          src="../../../../assets/icon/cart.svg"
        />
        <img
          class="circle-1"
          (click)="navigate('notification')"
          src="../../../../assets/icon/notification.svg"
        />
        <img
          class="circle-1"
          (click)="navigate('profile')"
          src="../../../../assets/icon/user.svg"
        />
      </div> -->
    </div>
  </ion-toolbar>
</ion-header>
