<div class="footer">
  <div class="row footer-info">
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-2 logo-footer-col">
      <img class="logo-footer" src="./assets/img/logo.svg" />
    </div>
    <div class="col-sm-12 col-md-8 col-lg-9 col-xl-10">
      <h1 class="footer-heading">Low Code API Development</h1>
      <p class="footer-desc">
        Next generation Low code API development platform. Turbo-charge
        your development cycle by 15x.
      </p>

      <ul class="footer-menu-ul">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <li class="footer-menu-li">
              <a class="footer-menu-a" aria-current="page" href="#"
                >Blogs</a
              >
            </li>
            <li class="footer-menu-li">
              <a class="footer-menu-a" href="#">documentation</a>
            </li>
            <li class="footer-menu-li">
              <a class="footer-menu-a" href="#">Open source</a>
            </li>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <li class="footer-menu-li">
              <a class="footer-menu-a" href="#">Book a demo</a>
            </li>
            <li class="footer-menu-li">
              <a class="footer-menu-a" href="#">How it works</a>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <div class="footer-social">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex term">
        <p class="term-txt">English</p>
        <p class="term-txt">Privacy Policy</p>
        <p class="term-txt">Terms of usage</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex social">
        <!-- <div class="img-group"> -->
        <img src="./assets/img/twitter.png" class="social-media-img" />
        <!-- </div>
        <div class="img-group"> -->
        <img src="./assets/img/discord.png" class="social-media-img" />
        <!-- </div>
        <div class="img-group"> -->
        <img src="./assets/img/yt.png" class="social-media-img" />
        <!-- </div>
        <div class="img-group"> -->
        <img src="./assets/img/tiktok.png" class="social-media-img" />
        <!-- </div>
        <div class="img-group"> -->
        <img src="./assets/img/fb.png" class="social-media-img" />
        <!-- </div>
        <div class="img-group"> -->
        <img src="./assets/img/linkedin.png" class="social-media-img" />
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="copyright">
    <p class="copyright-txt">© 2022 HOMIHQ</p>
  </div>
</div>