* {
  margin: 0px;
  padding: 0px;
}
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: #00539c;
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

ion-content.ct-side-menu.md.content-ltr.hydrated {
  --background: #fff;
}

ion-content.ct-side-menu.ios.content-ltr.hydrated {
  --background: #fff;
}

ion-item.item-sdmenu {
  --background: #fff;
}

.sd-lbl-txt {
  font-family: Poppins;
  font-size: 19px;
  color: #1d1d1d;
}
.sd-lbl-txt:hover {
  color: #00539c !important;
}

.sd-lbl-txt:active {
  color: #00539c !important;
}
.ht-lnks {
  color: #ffffff9c;
  font-size: 23px;
  font-family: "POPPINS";
  margin: 0px;
}

.main-title-sd {
  font-size: 23px;
  margin: 0px;
  font-weight: bold;
  color: #363636;
}

p.note-txt {
  color: #989aa2;
  font-family: "Poppins";
  font-size: 19px;
}

ion-item.item-sdmenu.item-has-start-slot.item.md.item-lines-none.item-fill-none.ion-activatable.ion-focusable.hydrated.item-label:hover {
  --background: #e9f5ff;
  border-radius: 9px;
  color: #00539c !important;
}

ion-item.item-sdmenu.item-has-start-slot.item.md.item-lines-none.item-fill-none.hydrated.item-label:hover {
  --background: #e9f5ff;
  border-radius: 9px;
  color: #00539c !important;
}

.menu-user-card {
  background: #eceded;
  border-radius: 10px;
  display: flex;
  padding: 12px;
  margin-bottom: 12px;
}
img.user-logo-img {
  width: 60px;
  height: 60px;
}
p.email-txt {
  margin: 0px;
  font-size: 16px;
  line-height: 23px;
  color: #6c6c6c;
}
.user-info {
  margin-left: 12px;
}
ion-icon.setting-icon.md.hydrated {
  position: absolute;
  right: 23px;
  margin-top: 17px;
}

ion-icon.setting-icon.ios.hydrated {
  position: absolute;
  right: 23px;
  margin-top: 17px;
}
img.menu-icons {
  margin-right: 12px;
  width: 1.2rem;
  height: 1.2rem;
}

ion-menu.cus-menu-sty.split-pane-side.md.menu-type-overlay.menu-enabled.menu-side-start.hydrated.menu-pane-visible {
  max-width: 373px !important;
}

ion-menu.cus-menu-sty.split-pane-side.ios.menu-type-overlay.menu-enabled.menu-side-start.hydrated.menu-pane-visible {
  max-width: 373px !important;
}
.inner-scroll.scroll-y::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 991px) {
  ion-icon.setting-icon.md.hydrated {
    margin-top: 0px;
  }
}

img.company-logo {
  width: 100%;
}
.inner-scroll {
  padding-top: 0 !important;
}

ion-menu.cus-menu-sty.split-pane-side.md.menu-type-overlay.menu-enabled.menu-side-start.hydrated.menu-pane-visible {
  display: none;
}

.submenu {
  --padding-start: 25px !important;
  --padding-end: 10px;
  border-radius: 4px;
}
