img.laptop-img {
  width: 15rem;
}

.laptop-card {
  background: white;
  margin-right: 12px;
  padding: 17px;
  border-radius: 7px;
  min-width: 190px;
  margin-top: 25px;
}
.laptop-page{
    margin: 0px 10px 0px 20px;
}