<app-header
  (onComponentDataFetch)="DataFetchEv($event)"
  [isDashboard]="isDashboard"
  [isTitle]="isTitle"
>
</app-header>

<ion-content>
  <div class="laptop-page" *ngIf="list_view">
    <ion-row>
      <ion-col
        size="6"
        size-xs="6"
        size-sm="4"
        size-md="4"
        size-lg="3"
        *ngFor="let item of laptop_data"
      >
        <div class="laptop-card" (click)="view_details(item)">
          <img class="laptop-img" [src]="item.img" />
          <div class="card-contentg">
            <p class="title">{{item.theme_name}}</p>
            <p class="title">{{item.theme_name}}</p>
            <p class="title">{{item.theme_name}}</p>
            <p class="title">{{item.theme_name}}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>


  <app-product-view-details
  [data_]="selectedData"
  *ngIf="details_view"
></app-product-view-details>
</ion-content>
