<app-header (onComponentDataFetch)="DataFetchEv($event)"> </app-header>

<ion-content>
  <div class="page-contain">
    <div class="btn-grp">
      <ion-button class="create-CV-btn" (click)="CreateCv()">
        Create CV</ion-button
      >
    </div>

    <div class="bar-slider">
      <p
      *ngIf="invoice_heading"
        [ngClass]="{ 'active-tab': tab == 1 }"
        (click)="tab = 1"
        class="slide-txt"
        (click)="navigate('1')"
      >
        CV
      </p>
      <p
      *ngIf="draft_heading"
        [ngClass]="{ 'active-tab': tab == 2 }"
        (click)="tab = 2"
        class="slide-txt"
        (click)="navigate('2')"
      >
        Draft CV
      </p>
      <p
        [ngClass]="{ 'active-tab': tab == 3 }"
        (click)="tab = 3"
        class="slide-txt"
        (click)="navigate('3')"
      >
        Template
      </p>
      <!-- <p
        [ngClass]="{ 'active-tab': tab == 4 }"
        (click)="tab = 4"
        class="slide-txt"
        (click)="navigate('4')"
      >
        Prime Template
      </p> -->
    </div>

    <div class="cv-content" *ngIf="all_CV">
      <div
        class="card"
        *ngFor="let item of completed_invoice_list let i = index"
      >
        <img src="../../../assets/icon/file.svg" class="invoice-img" />
        <div class="con-txt">
          <p class="bill-name">{{item.f_name }} {{item.l_name}}</p>
          <p class="bill-date">Created on {{item.createAt}}</p>
        </div>
        <img
          (click)="open_Option('2', item)"
          src="../../../assets/icon/three-dots.svg"
          class="three-dot-img"
        />
        <div *ngIf="show_option1 && selectedId == item.id" class="option-popup">
          <p class="edit-txt" (click)="editData(item)">Edit</p>
          <p class="delete-txt" (click)="deleteData(item,'1')">Delete</p>
        </div>
      </div>
    </div>

    <div class="cv-content" *ngIf="all_Draft">
      <div class="card" *ngFor="let item of draft_cv_list let i = index">
        <img src="../../../assets/icon/file.svg" class="invoice-img" />
        <div class="con-txt">
          <p class="bill-name">{{item.f_name }} {{item.l_name}}</p>
          <p class="bill-date">Created on {{item.createAt}}</p>
        </div>
        <img
          (click)="open_Option('2', item)"
          src="../../../assets/icon/three-dots.svg"
          class="three-dot-img"
        />
        <div *ngIf="show_option1 && selectedId == item.id" class="option-popup">
          <p class="edit-txt" (click)="editData(item)">Edit</p>
          <p class="delete-txt" (click)="deleteData(item,'2')">Delete</p>
        </div>
      </div>
    </div>

    <div class="select-temp-content">
      <h1 class="select-temp-txt">Select Template</h1>
      <div class="content-section">
        <div class="template" *ngFor="let item of templates_ let i = index">
          <img [src]="item.img" class="template-img" />
          <div class="template-con">
            <p class="bill-name">{{item.bill_name}}</p>
            <p class="bill-date">Created on {{item.bill_create_date}} ago</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
