* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito";
}
.page-contain {
  margin: 10px;
}
.btn-grp {
  text-align: center;
  margin-top: 2rem;
}
.create-CV-btn {
  height: 85px;
  width: 280px;
  --background: #00539c;
  text-transform: capitalize;
  font-size: 26px;
  --border-radius: 20px;
}

.content-section {
  position: relative;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 5px;
  padding-bottom: 12px;
}
.template {
  margin-right: 30px;
}

.select-temp-txt {
  font-size: 21px;
  color: #1e486c;
  font-weight: bold;
}
.select-temp-content {
  margin-top: 20px !important;
}
.template-con {
  margin: 12px 0px 0px 0px;
}

.bill-name {
  font-weight: bold;
  color: #001940;
}
.bill-date {
  font-size: 12px;
  margin-top: 4px;
  color: #555555;
}

.content-section::-webkit-scrollbar {
  display: none;
}
.bar-slider::-webkit-scrollbar {
  display: none;
}

.bar-slider {
  position: relative;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 25px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 0px;
}

.slide-txt {
  margin-right: 14px;
  cursor: pointer;
}

.active-tab {
  color: #1e486c;
  border-bottom: 2px solid #547da1;
  padding-bottom: 7px;
  font-weight: bold;
}

.card {
  display: flex;
  background: #fff;
  border-radius: 8px;
  padding: 18px 20px;
  position: relative;
  margin-top: 8px;
  cursor: pointer;
}
.invoice-img {
  width: 2rem;
  margin-right: 10px;
}

.con-txt {
  margin: auto 0px;
}
.three-dot-img {
  width: 1.4rem;
  position: absolute;
  right: 11px;
  top: 28px;
  cursor: pointer;
}
.bill-name {
  font-weight: bold;
  color: #001940;
}
.bill-date {
  font-size: 12px;
  margin-top: 4px;
  color: #555555;
}

.option-popup {
  background: white;
  position: absolute;
  right: 28px;
  top: 55px;
  border-radius: 7px;
  padding: 8px 15px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  z-index: 1000;
}
